# R Studio project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# ignore sysParameters*.R for now
sysParameters*.R

# data folders
/data
/shell_script
/datasets
/SEND_DATASETS
/database
sendDashboard.ini
/ignore
/metadata
/test_data